/* Why Choose Section */
.why-choose-section {
    text-align: center;
    padding: 60px 60px;
    background-color: #ffffff;
  }
  
  .why-para {
    font-family: Inter;
    font-weight: 400;
    font-size: 15px;
    line-height: 22.5px;
    text-align: left;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #0d1216;
  }
  .feature-box {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    justify-content: center;
    font-weight: 600;
    min-height: 150px;
  }
  .features-box {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
    font-weight: 600;
    min-height: 215px;
    max-width: 288px;
    border-width: 1px;
  }
  
  .feature-icon {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
  }
  
  .feature-icon-head {
    font-family: Inter;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }
  .feature-icon-para {
    font-family: Rubik;
    font-weight: 400;
    font-size: 15px;
    line-height: 22.5px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }
  
  .small-box {
    flex: 1;
  }
  
  .empty-box {
    background: none;
    border: none;
    min-height: 80px;
  }
  
  @media (max-width: 768px) {
    .row {
      flex-direction: column;
    }
  
    
    .about-section {
      padding: 30px 30px;
      background-color: #fafafa;
    }
    .about-section .row {
      gap: 20px;
    }
    .why-choose-section  {
      padding: 30px 30px;
    }
  
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .section-title {
      font-size: 24px;
    }
  
    .feature-card {
      padding: 15px;
    }
  }