.statistics {
  text-align: center;
  padding: 40px;
  background-color: #fafafa;
}

.stats-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 40px;
}
.stat-head {
  font-family: Inter;
  font-weight: 700;
  font-size: 32px;
  line-height: 38.4px;
  letter-spacing: 0.16px;
  text-align: center;
  vertical-align: middle;
  color: "#3C2109";
}

.stat-box {
  text-align: center;
  min-width: 150px;
}
.label-p {
  font-family: Inter;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #181617;
}
.label-h {
  font-family: Montserrat;
  font-weight: 800;
  font-size: 42px;
  line-height: 63px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}

.stat-box h3 {
  font-size: 2rem;
  font-weight: bold;
}

.stat-box p {
  font-size: 14px;
  color: #666;
}

@media (max-width: 768px) {
  .stats-container {
    flex-direction: column;
    align-items: center;
  }
}
